<nav class="navbar navbar-expand  bg-light navbar-dark text-dark">
<a href="#" class="navbar-brand"></a>
<ul class="navbar-nav">
    <li class="nav-item">
        <a routerLink="posts" class="nav-link  text-dark font-weight-bold">Mes posts</a>
    </li>
    <li class="nav-item "  ><a routerLink="addPost" class="nav-link  text-dark font-weight-bold">Ajouter post</a>
    </li>

</ul>
</nav>

<router-outlet></router-outlet>