<div class="container list-group-item">
  
       
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <h2>Posts</h2>
                <ul class="list-group ">
                        <app-posts  *ngFor="let x of posts;let i=index" [postnumber]="x.title" 
                        [datenumber]="x.created_at" [paragraphe]="x.content" [lovestatus]="x.loveIts" 
                        [dislovestatus]="x.dontloveit"[index]='i'></app-posts>
                        
                </ul>
            </div>
            <div class="col-1"></div>

        </div>
    
   
    </div>
    
