<li [ngClass]="{'list-group-item': true,'list-group-item-success': lovestatus > dislovestatus,
        'list-group-item-danger': dislovestatus > lovestatus}">
    
        <div class="container">
            <div class="row">
                <h2 class="col"> {{postnumber}}</h2>
                <p class="col text-right">{{datenumber | date:'short' | uppercase}}</p>
            </div>
        </div>
        <P>{{paragraphe}}</P>
        <div class="row">
<button class="btn btn-success btn-sm col-2" (click)="increment()" >love it</button>
            <button class="btn btn-danger btn-sm col-2" (click)="decrement()">don't love </button>
            <div class="col-6"></div>
            <button class="btn btn-danger btn-sm  col-2 " (click)="onDeletePost()">delette</button>
        </div>
    
</li>