<div class="container">
    <div class="row">
        <div class="col-1"></div>
        <div class="col">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
                <div class="form-group">
                    <label for="title"></label>
                    <input type="text" id="title" name="title" ngModel class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="content"></label>
                    <input type="text" id="content" name="content" ngModel class="form-control" required>
                </div>
                <button type="submit" class="btn btn-outline-primary m-auto d-block" [disabled]="f.invalid">ajouter</button>
            </form>
        </div>
        <div class="col-1"></div>
    </div>
</div>